# MongoDB Atlas Connection
MONGODB_URI=mongodb+srv://javad-it:Test-123@cluster0.yoe7dd1.mongodb.net/admission_system?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB=admission_system

# Admin Credentials (created on first start)
ADMIN_EMAIL=fatimajaved821@gmail.com
ADMIN_PASSWORD=admin123

# Server Configuration
PORT=4000
NODE_ENV=production
